.idea/*
build/*

TPVToggle/build/*
!TPVToggle/build/template

TPVCamera/build/*
!TPVCamera/build/template

HenrySenses/build/*
!HenrySenses/build/template

LootBeacon/build/*
LootBeacon/src/**/*.pak

PizzleYanked/build/*
PizzleYanked/src/**/*.pak

!/**/.gitkeep
tools/*
**/docs/analysis/*
