[submodule "TPVToggle/external/minhook"]
	path = TPVToggle/external/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "TPVToggle/external/simpleini"]
	path = TPVToggle/external/simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "TPVToggle/external/DirectXMath"]
	path = TPVToggle/external/DirectXMath
	url = https://github.com/microsoft/DirectXMath.git
