[submodule "TPVToggle/external/json"]
	path = TPVToggle/external/json
	url = https://github.com/nlohmann/json.git
[submodule "TPVToggle/external/KCD2ModLoader"]
	path = TPVToggle/external/KCD2ModLoader
	url = https://github.com/xiaoxiao921/KCD2ModLoader.git
[submodule "TPVToggle/external/DetourModKit"]
	path = TPVToggle/external/DetourModKit
	url = https://github.com/tkhquang/DetourModKit.git
[submodule "CryEngine"]
	path = CryEngine
	url = git@github.com:ValtoGameEngines/CryEngine.git
