.roo/*
.idea/*

TPVToggle/build/*
!TPVToggle/build/template

TPVCamera/build/*
!TPVCamera/build/template

LootBeacon/build/*
LootBeacon/src/**/*.pak

PizzleYanked/build/*
PizzleYanked/src/**/*.pak

!/**/.gitkeep
